/*	OSM Indonesia Master.css
		
		TOC
		---
		= GLOBAL
		= HEADER
		= CONTENT
		= FOOTER
*/



/*//	=GRID  1140 */

.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{margin-right:3.8%;float:left;min-height:1px;}
.row .onecol{width:4.85%;}
.row .twocol{width:13.45%;}
.row .threecol{width:22.05%;}
.row .fourcol{width:30.75%;}
.row .fivecol{width:39.45%;}
.row .sixcol{width:48%;}
.row .sevencol{width:56.75%;}
.row .eightcol{width:65.4%;}
.row .ninecol{width:74.05%;}
.row .tencol{width:82.7%;}
.row .elevencol{width:91.35%;}
.row .twelvecol{width:100%;float:left;}
.last{margin-right:0px;}
img,object,embed{max-width:100%;}
img{height:auto;}



/*// =GLOBAL */

html,body {
	font-size: 1em;
	color: #222;
	background: #E6DDD7 url(../images/bg.png) repeat 0 0;
	color: #292000;
	height: 100%;
	}

/* links */
a,a:active {
	color: rgba(233, 92, 65, 1);
	}

/* lists */
ul.horz {
	margin: 0;
	padding: 0;
	}
ul.horz li {
	list-style-type: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	}
ul.horz li {
	display: block;
	float: left;
	}

/* headers */
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: "Gill Sans", "Apple Gothic", sans-serif;
	font-weight: lighter;
	letter-spacing: .04em;
	text-shadow: 1px 1px 0 #fff;
	}
h1 { font-size: 2.6em; }
h2 {
	margin: 10px 0 15px;
	padding-bottom: 2px;
	border-bottom: 2px solid #E95C41;
	font-size: 2em;
	font-weight: lighter;
	}
h3 {
	font-size: 1.6em;
	}
h4 {
	padding: .5em;
	background: rgba(233, 92, 65, 1);
	color: #fff;
	font-size: 1.2em;
	text-transform: uppercase;
	text-shadow: 3px 3px 0 rgba(182, 71, 50, 1);
	}

/* typography */
span.amp {
	font-family: Palatino, "Goudy Old Style","Palatino","Book Antiqua",serif;
	font-size: 110%;
	font-style: italic;
	}
span.apos {
	font-family:Garamond, Hoefler Text, Times New Roman, Times, serif;
	}

/* shims */
strong { font-weight: bold; }
em { font-style: italic; }

/* Structure */
.row_spacer,
.col_spacer {
	padding-top: 2em;
	}

/*//	=HEADER */

#header {
	z-index: 5;
	height: 120px;
	background-color: #222;
	border-bottom: 1px solid white;
	}

/* logo */
#logo {
	float: left;
	display: inline;
	margin-top: 1em;
	color: #fff;
	}
#logo h1 {
	margin: 0;
	line-height: 1em;
	text-shadow: 2px 2px 2px #000;
	font-weight: lighter;
	}
#logo h1 a {
	color: #fff;
	text-decoration: none;
	}
#logo h1 a span {
	color: rgba(233, 92, 65, 1);
	text-shadow: 2px 2px 2px #000;
	}
#logo p {
	margin: .3em 5px;
	color: #ddd;
	font-size: .75em;
	line-height: 2.5em;
	font-family: Georgia, Times, serif;
	}

/* navigation */
nav ul {
	display: block;
	float: right;
	height: 100%;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	}
nav ul li {
	float: left;
	width: 120px;
	}
nav ul li a {
	display: block;
	float: left;
	height: 95px;
	border-left: 1px solid #333;
	border-right: 1px solid #000;
	padding: 25px 0 0 15px;
	color: rgba(217, 191, 100, 1);
	font-size: 17px;
	line-height: 1em;
	font-family: "Gill Sans", Corbel, Tahoma, sans-serif;
	text-decoration: none;
	}
nav ul li a:visited {
	color: rgba(217, 191, 100, 1);
	}
nav ul li a small {
	display: block;
	padding-top: .9em;
	font-style: italic;
	font-family: Georgia, serif;
	font-size: .7em;
	line-height: 1.2em;
	color: #eee;
	text-shadow: none !important;
	}
nav ul li a:hover {
	background: rgba(0,0,0,.2);
  }
nav ul li a:hover small {
	color: #fff;
	}
body.home nav ul li#nav_home a,
body.locations nav ul li#nav_locations a,
body.projects nav ul li#nav_projects a,
body.resources nav ul li#nav_resources a,
body.about nav ul li#nav_about a {
	background: rgba(0,0,0,.2);
	color: rgba(246, 234, 0, 1);
	}
body.home nav ul li#nav_home a small,
body.locations nav ul li#nav_locations a small,
body.projects nav ul li#nav_projects a small,
body.resources nav ul li#nav_resources a small,
body.about nav ul li#nav_about a small {
  color: #fff;
	}
nav ul li a.selected {

	}

/* language */
#lang {
	padding: 5px 0;
	box-shadow: 0 6px 10px #000;
	font-size: .8em;
	}
#lang ul {
	float: right;
	}
#lang ul li {
	padding-left: 10px;
	}


/*//	=CONTENT */

#wrapper {
	min-height: 100%;
	}
#bento {
	overflow: auto;
	margin-top: 1em;
	}
#bentoInner {
	overflow: hidden;
	background: #fff;
	box-shadow: 0 0 5px #A09A95;
	z-index: 1000;
	}

#pageIntro {
	padding: .5em 0;
	background: rgba(34, 34, 34, 1);
	}
h1#pageTitle {
	margin: 0;
	color: #fff;
	text-shadow: 3px 3px 0 rgba(0,0,0, 1);
	font-weight: lighter;
	color: rgba(233, 92, 65, 1);
	text-transform: uppercase;
	font-size: 1.8em;
	}
h1#pageTitle span {
	color: #888;
	}
#pageIntro p {
	width: 70%;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0, 1);
	}
#bento p {
	margin-bottom: 15px;
	line-height: 1.4em;
	font-family: Georgia, "Lucida Grande", "Lucida Sans";
	}
#bento dl {
	overflow: hidden;
	}
#bento dl dt.image {
	float: left;
	margin-right: 1em;
	}
#bento dl dd {
	font-size: .8em;
	}
#bento dl dd.title {
	font-weight: bold;
	}

ul.rows {
	border-top: 1px solid white;
	}
ul.rows li {
	border-bottom: 1px solid white;
	font-size: 1.4em;
	}
ul.rows li a {
	display: block;
	padding: 6px 12px;
	}
ul.rows li a:hover {
	background-color: #fff;
	}


/* maps */
div.map {
	overflow: hidden;
	margin: 10px;
	background: #eee;
	}
	

/* sections */
.section {
	margin: 1.5em 0;
	}
.section h2 {
	margin-bottom: 1em;
	border: 0;
	font-size: 3em;
	color: red;
	}
.section h3 {
	margin-bottom: .2em;
	border-bottom: 1px solid black;
	}




/* PAGES */

/* Homepage map */
body.home .map {
	height: 480px;
	}

/* stats */
#stats .row {
	border-bottom: 1px solid black;
	padding-bottom: .3em;
	margin-bottom: .7em;
	font-family: "Gill Sans", Tahoma, Arial, sans-serif;
	}
#stats h3 {
	float: left;
	margin: .2em;
	font-size: 4em !important;
	font-weight: bold;
	font-size: 3.2em;
	color: rgba(182, 71, 50, 1);
	}
#stats p {
	display: block;
	font-family: "Gill Sans", Tahoma, Arial, sans-serif;
	}


/* Locations */
body.locations .map {
	height: 500px;
	}

	
/* Location */
body.location .map {
	height: 500px;
	}



/*//	=FOOTER */

footer {
	position: relative;
	margin-top: -60px;
	height: 60px;
	clear:both;
	background: #000;
	}
#footerInner {
	width: 960px;
	margin: 0 auto;
	padding: 5px 0;
	}
footer p {
	color: #ccc;
	}




/*// TIME FOR SOME MEDIA QUERIES */

/* Smaller screens */
@media only screen and (max-width:1023px){
	html,body {
		font-size: .9em;
		line-height: 1.5em;
		}
}

/* Mobile devices */
@media handheld,only screen and (max-width:767px){
	body{
		font-size:16px;
		-webkit-text-size-adjust:none;
		}
		.row,body,
		.container{
			width:100%;
			min-width:0;
			margin-left:0px;
			margin-right:0px;
			padding-left:0px;
			padding-right:0px;
			}
		.row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row .twelvecol{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:20px;padding-right:20px;}

		/* language */
		#lang ul li:first-child {
			display: none;
		}
		#lang {
			text-align: center;
		}
		#lang ul { float: none;}

		/* logo */
		#logo {
			text-align: center;
		}
		#logo p {
			display: none;
		}

		/* nav */
		ulnav ul li a span {
			display: none;
		}
		ulnav ul,
		ulnav ul li,
		ulnav ul a {
			border: 0;
		}

		body.home #bento {
			margin-top: 1em;
		}
		body.home .box {
			display: none;
		}
}






	