/*	OSM Indonesia Master.css
		
		TOC
		---
		= GLOBAL
		= HEADER
		= CONTENT
		= FOOTER
*/


/*	=RESET YUIv3 */

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}



/*//	=GRID  1140 */

.container{padding-left:20px;padding-right:20px;}
.row{width:100%;max-width:1140px;min-width:755px;margin:0 auto;overflow:hidden;}
.onecol,.twocol,.threecol,.fourcol,.fivecol,.sixcol,.sevencol,.eightcol,.ninecol,.tencol,.elevencol{margin-right:3.8%;float:left;min-height:1px;}
.row .onecol{width:4.85%;}
.row .twocol{width:13.45%;}
.row .threecol{width:22.05%;}
.row .fourcol{width:30.75%;}
.row .fivecol{width:39.45%;}
.row .sixcol{width:48%;}
.row .sevencol{width:56.75%;}
.row .eightcol{width:65.4%;}
.row .ninecol{width:74.05%;}
.row .tencol{width:82.7%;}
.row .elevencol{width:91.35%;}
.row .twelvecol{width:100%;float:left;}
.last{margin-right:0px;}
img,object,embed{max-width:100%;}
img{height:auto;}



/*// =GLOBAL */

html,body {
	font-family: "Gill Sans", "Apple Gothic", sans-serif;
	color: #222;
	background-color: #E6DDD7;
	color: #292000;
	height: 100%;
	}

/* links */
a,a:active {
	color: orange;
	}

/* lists */
ul.nav {
	margin: 0;
	padding: 0;
	}
ul.nav li {
	list-style-type: none;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	}
ul.nav li a {
	display: block;
	float: left;
	}

/* headers */
h1,h2,h3,h4,h5,h6 {
	font-weight: lighter;
	letter-spacing: .04em;
	text-shadow: 1px 1px 0 #fff;
	}
h1 { font-size: 2.6em; }
h2 {
	margin: 10px 0 15px;
	padding-bottom: 2px;
	border-bottom: 2px solid #E95C41;
	font-size: 2em;
	font-weight: lighter;
	}
h3 {
	font-size: 1.6em;
	}

/* typography */
span.amp {
	font-family: Palatino, "Goudy Old Style","Palatino","Book Antiqua",serif;
	font-size: 110%;
	font-style: italic;
	}
span.apos {
	font-family:Garamond, Hoefler Text, Times New Roman, Times, serif;
	}

/* shims */
strong { font-weight: bold; }
em { font-style: italic; }

/* Structure */
.row_spacer,
.col_spacer {
	padding-top: 2em;
	}

/*//	=HEADER */

#header {
	z-index: 5;
	height: 140px;
	background-color: #222;
	border-bottom: 1px solid white;
	}

/* logo */
#logo {
	float: left;
	display: inline;
	margin-top: 1.5em;
	color: #fff;
	}
#logo h1 {
	line-height: 1em;
	text-shadow: 2px 2px 2px #000;
	}
#logo h1 a {
	color: #fff;
	text-decoration: none;
	}
#logo h1 a span {
	color: red;
	text-shadow: 2px 2px 2px #000;
	}
#logo p {
	margin-left: 5px;
	color: #bbb;
	font-size: 90%;
	line-height: 1.8em;
	}

/* navigation */
#nav {
	display: block;
	float: right;
	height: 100%;
	border-left: 1px solid #000;
	border-right: 1px solid #333;
	}
#nav li {
	float: left;
	width: 7em;
	}
#nav li a {
	display: block;
	float: left;
	height: 95px;
	border-left: 1px solid #333;
	border-right: 1px solid #000;
	padding: 30px 20px 15px;
	color: #FFF;
	font-size: 17px;
	line-height: 1em;
	text-decoration: none;
	}
#nav li a small {
	text-shadow: none !important;
	}
#nav li a small {
	display: block;
	padding-top: .9em;
	font-style: italic;
	font-family: Georgia, serif;
	font-size: .7em;
	line-height: 1.2em;
	color: #eee;
	}
#nav li a:hover {
	background: rgba(0,0,0,.2);
  }
#nav li a:hover small {
	color: #fff;
	}
body.home #nav li#nav_home a,
body.locations #nav li#nav_locations a,
body.projects #nav li#nav_projects a,
body.resources #nav li#nav_resources a,
body.about #nav li#nav_about a {
	}
body.home #nav li#nav_home a small,
body.locations #nav li#nav_locations a small,
body.projects #nav li#nav_projects a small,
body.resources #nav li#nav_resources a small,
body.about #nav li#nav_about a small {
  color: #fff;
	}
#nav li a.selected {

	}

/* language */
#lang {
	padding: 5px 0;
	box-shadow: 0 6px 10px #000;
	font-size: .8em;
	}
#lang ul {
	float: right;
	}
#lang ul li {
	padding-left: 10px;
	}
#lang ul li a {
	color: red;
	}


/*//	=CONTENT */

#bento {
	position: relative;
	}
#bentoInner {
	background: #fff;
	box-shadow: 0 0 5px #A09A95;
	border: 8px solid rgba(0,0,0,.5);
	}
body.home #bento,
body.locaton #bento,
body.locations #bento {
	margin-top: -25px;
	}


#bento .pageIntro,
#bento h1#pagetitle {
	margin-top: .5em;
	margin-bottom: 1em;
	}
#bento .pageIntro p {
	width: 70%;
	}
#bento h1#pageTitle {
	}
#bento p {
	margin-bottom: 15px;
	}
#bento dl dt {
	border-bottom: 1px solid #fff;
	padding-bottom: .1em;
	margin-bottom: .2em;
	}
#bento dl dd {
	font-size: 90%;
	}

ul.rows {
	border-top: 1px solid white;
	}
ul.rows li {
	border-bottom: 1px solid white;
	font-size: 1.4em;
	}
ul.rows li a {
	display: block;
	padding: 6px 12px;
	}
ul.rows li a:hover {
	background-color: #fff;
	}


/* maps */
.box {
	position: relative;
	z-index: 100;
	padding: 10px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 2px 10px #BBB;
	text-shadow: none;
	}
#map {
	margin: 10px;
	background: #eee;
	position: relative;
	height: 100%;
	}
	

/* Sidebar */
.section {
	margin-bottom: 2em;
	}
.section h2 {
	margin-bottom: 1em;
	border: 0;
	font-size: 3em;
	color: red;
	}
.section h3 {
	margin-bottom: .2em;
	border-bottom: 1px solid black;
	}




/* PAGES */

/* Homepage map */
body.home .box {
	height: 500px;
	}

/* stats */
#stats .row {
	border-bottom: 1px solid black;
	padding-bottom: .3em;
	margin-bottom: .7em;
	}
#stats h5 {
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 3.2em;
	margin-right: .25em;
	padding-right: .25em;
	border-right: 1px solid black;
	}
#stats small {
	display: block;
	}


/* Locations */
body.locations #map {
	height: 500px;
	}
	
/* Location */
body.location .box {
	height: 500px;
	}




/*//	=FOOTER */

#footer {
	margin-top: 15px;
	padding: 10px 0;
	border-top: 1px solid #877E75;
	}
#footer p {
	color: #C2B199;
	}




/*// TIME FOR SOME MEDIA QUERIES */

/* Smaller screens */
@media only screen and (max-width:1023px){
	html,body {
		font-size: .9em;
		line-height: 1.5em;
		}
}

/* Mobile devices */
@media handheld,only screen and (max-width:767px){
	body{
		font-size:16px;
		-webkit-text-size-adjust:none;
		}
		.row,body,
		.container{
			width:100%;
			min-width:0;
			margin-left:0px;
			margin-right:0px;
			padding-left:0px;
			padding-right:0px;
			}
		.row .onecol,.row .twocol,.row .threecol,.row .fourcol,.row .fivecol,.row .sixcol,.row .sevencol,.row .eightcol,.row .ninecol,.row .tencol,.row .elevencol,.row .twelvecol{width:auto;float:none;margin-left:0px;margin-right:0px;padding-left:20px;padding-right:20px;}

		/* language */
		#lang ul li:first-child {
			display: none;
		}
		#lang {
			text-align: center;
		}
		#lang ul { float: none;}

		/* logo */
		#logo {
			text-align: center;
		}
		#logo p {
			display: none;
		}

		/* nav */
		ul#nav li a span {
			display: none;
		}
		ul#nav,
		ul#nav li,
		ul#nav a {
			border: 0;
		}

		body.home #bento {
			margin-top: 1em;
		}
		body.home .box {
			display: none;
		}
}






	